<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace
   ="com.example.simplebbs.article.ArticleMapper">
  <insert id="insertArticle">
   insert into article(subject, content, author)
   values (#{subject},#{content},#{author})
  </insert>
  
  <select id="findAll">
  	select * from article
  </select>

 <select id="findById">
  select * from article where id=#{id}
 </select>

</mapper>